<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.isafetybots">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Doctor.DoctorNotificationsActivity"></activity>
        <activity android:name=".DetailedReportsActivity" />
        <activity android:name=".Doctor.DoctorSendInstructionsActivity" />
        <activity android:name=".Doctor.DoctorPatientListActivity" />
        <activity android:name=".Doctor.DoctorDashboardActivity" />
        <activity android:name=".Doctor.DoctorRegisterFinalActivity" />
        <activity android:name=".Patient.PatientRequestCheckupActivity" />
        <activity android:name=".navigation.PatientSettingsActivity" />
        <activity android:name=".navigation.PatientNotificationsActivity" />
        <activity android:name=".navigation.PatientReportsActivity" />
        <activity android:name=".navigation.PatientInstructionsActivity" />
        <activity android:name=".NavigationPane.PatientNavigationActivity" />
        <activity android:name=".Doctor.DoctorRegisterActivity" />
        <activity android:name=".Doctor.DoctorLoginActivity" />
        <activity android:name=".Patient.PatientRegisterFinalActivity" />
        <activity android:name=".Patient.PatientRegister4Activity" />
        <activity android:name=".Patient.PatientRegister3Activity" />
        <activity android:name=".Patient.PatientRegister2Activity" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity
            android:name=".Patient.PatientRegisterActivity"
            android:label="@string/title_activity_patient_register" />
        <activity android:name=".Patient.PatientLoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>